/* css for main page */

body {
    font-family: Arial, sans-serif;
    background-color:  #EDEDED;
    color: #3D3D3D;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #5A3D5C;
    border-radius: 10px;
    border: 5px solid #382039;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-inline: 20px;
    color: #EDEDED;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 60px;
    padding: 20px;
    padding-top: 140px;
    background-image: url('banner.png');
    background-position: center;
    border: 5px solid #919191;
    border-radius: 10px;
    color: #EDEDED;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.mainContent {
    background-color: #D1D1D1;
    border: 5px solid #919191;
    border-radius: 10px;
    min-height: auto;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

/* Navbar (using flexbox) */
.navBar {
    background-color: #5A3D5C;
    border-radius: 10px;
    border: 5px solid #382039;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navItem {
    background-color: #4b334d;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 20%;
    text-align: center;
    text-decoration: none;
    color: #EDEDED;
    font-weight: bolder;
}

form {
    display: inline-block;
}
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: left;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  input:focus,
  textarea:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: #000;
  }

  button:hover {
    color: white;
    background-color: #946397;
    border-color: #382039;
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    min-width: 160px;
    min-height: 40px;
    font-weight: bolder;
    font-size: 20px;
    color: #EDEDED;
    background-color: #5A3D5C;
    border-radius: 5px;
    border-color: #382039;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }